form {
    display: flex;
    flex-direction: column;
    .accept-btn {
        width: 50%;
        margin: 0 auto;
    }
}
.title {
    h1 {
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        color: #673ab7;

    }
}