.login-container {
    width: 100%;
    mat-card {
        .title {
            margin-left: 9%;
            margin-top: 2%;
            h1 {
                font-family: 'Nunito', sans-serif;
                font-weight: bolder;
                color: #673ab7;

            }
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            mat-form-field {
                width: 80%;
            }
        }
        p {
            font-family: 'Nunito', sans-serif;
            span {
                font-weight: bolder;
                color: #673ab7;
                cursor: pointer;
            }
        }
        .btn-next {
            margin: 5% 0;
        }
    }
}