<div class="login-container">
    <mat-card>
        <div *ngIf="!isLogin">
            <div class="title">
                <h1>Registra tus datos</h1>
            </div>
            <form (ngSubmit)="addClient(registerForm.value)" [formGroup]="registerForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre completo</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Ingresar nombre completo">
                    <mat-error
                        *ngIf="registerForm.controls.name.errors?.required && (registerForm.controls.rut.touched)">
                        Ingresar nombre completo
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Rut</mat-label>
                    <input type="text" matInput formControlName="rut" placeholder="Ingresar rut">
                    <mat-error
                        *ngIf="registerForm.controls.name.errors?.required && (registerForm.controls.rut.touched)">
                        Ingresar rut con formato válido: 11111111-1
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Correo electrónico</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ingresar correo electrónico">
                    <mat-error
                        *ngIf="registerForm.controls.name.errors?.required && (registerForm.controls.rut.touched)">
                        Ingresar correo electrónico con formato válido: correo@correo.com
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                        placeholder="Ingresar contraseña">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="registerForm.controls.password.errors?.required && (registerForm.controls.password.touched)">
                        Ingresar contraseña para creación de cuenta
                    </mat-error>
                </mat-form-field>
                <mat-error> {{gralError}} </mat-error>
                <button class="btn-next" mat-raised-button color="primary" type="submit"
                    [disabled]="!registerForm.valid">Registrarse</button>
                <p>¿Ya tienes cuenta? Puedes ingresar <span (click)="changeToLoginMode(true)">aquí</span></p>
            </form>
        </div>
        <div *ngIf="isLogin">
            <div class="title">
                <h1>Ingresa tus datos</h1>
            </div>
            <form (ngSubmit)="loginClient(loginForm.value)" [formGroup]="loginForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Rut</mat-label>
                    <input type="text" matInput formControlName="rut" placeholder="Ingresar rut">
                    <mat-error *ngIf="loginForm.controls.rut.errors?.required && (loginForm.controls.rut.touched)">
                        Ingresar rut con formato válido: 11111111-1
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                        placeholder="Ingresar contraseña">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="loginForm.controls.password.errors?.required && (loginForm.controls.password.touched)">
                        Ingresar contraseña para creación de cuenta
                    </mat-error>
                </mat-form-field>
                <mat-error> {{gralError}} </mat-error>
                <button class="btn-next" mat-raised-button color="primary" type="submit"
                    [disabled]="!loginForm.valid">Ingresar</button>
                <p>¿Aún no tienes cuenta? Puedes registrarte <span (click)="changeToLoginMode(false)">aquí</span></p>
            </form>
        </div>
    </mat-card>
</div>