<!-- <mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer #drawer [mode]="mode.value">I'm a drawer</mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        <mat-form-field>
            <mat-label>Sidenav mode</mat-label>
            <mat-select #mode value="side">
                <mat-option value="side">Side</mat-option>
                <mat-option value="over">Over</mat-option>
                <mat-option value="push">Push</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Has backdrop</mat-label>
            <mat-select #hasBackdrop>
                <mat-option>Unset</mat-option>
                <mat-option [value]="true">True</mat-option>
                <mat-option [value]="false">False</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content>
</mat-drawer-container> -->
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
        <div class="menu-options">
            <h1>Operaciones</h1>
            <ul>
                <li (click)="goToForm(1)">Depósito</li>
                <li (click)="goToForm(2)">Retiro</li>
                <li (click)="goToForm(3)">Transferencias</li>
                <li (click)="goToAccountDetail()">Resumen de Movimientos</li>
            </ul>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->

    </mat-sidenav-content>
</mat-sidenav-container>